@page
@model DnDIniativeTracker.Pages.HomePage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
    ViewData["wide"] = false;
}
<div class="row align-items-start">
    <div class="col">
        @await Html.PartialAsync("~/Shared/_Success.cshtml")
        <form action="" method="POST">
            <div class="mb-3">
                <label asp-for="GameCreateDto.Name" class="form-label">Name:</label>
                <input asp-for="GameCreateDto.Name" class="form-control"  />
                <span asp-validation-for="GameCreateDto.Name" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-success" value="Create new game" />
        </form>
    </div>
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;"><h2>Games</h2></th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Game</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Games)
                {
                    <tr>
                    <th scope="row">@game.Id</th>
                    <td>@game.Name</td>
                    <td>                    
                        <a asp-page="/Game" asp-route-game="@game.Name" class="btn btn-primary" target="_blank">Open</a>
                    </td>
                    </tr>
                }
                
            </tbody>
            </table>
    </div>
</div>